# Node dependencies
node_modules/

# Build files
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron
*.exe
*.dll
*.dmg
*.app

# OS files
.DS_Store
Thumbs.db

# local db
database/kontrol.db

# client specific files
assets/img/variedades/
assets/img/*variedades*
